#body {
    background-image: url('fondotriangulito');
    background-size: cover;
    font-size: 35px;
}
 
 #caja-gigante {
     background-color: rgba(255, 255, 255, 0.308);
     border-radius: 16px;
     padding: 6px;
     text-align: center;
     height: auto;
     margin: 20px;
     background-size: cover;
     
     
     
}
 
 .caja { 
     text-align: center; 
     border-style: solid; 
     border-radius: 16px; 
     border-color:aqua; 
     background-color: aliceblue; 
     margin: 24px; 
     font-size: 35px;
     
     
 
     
     
}
 
 .imagen {
    width: -webkit-fill-aviable;
     width: 100%;

     
    
     
}
 
 .nombre {
     font-size: 35px;
     color:black;
     
     
}
 
 .letra {
    font-size: 35px;
    
}

#urraco {
    width: 750px;
    height: auto;
}

.caja {
    height: auto;
}