@media screen and (max-width: 415px) {
    
    #caja {
        width: 100%;
        border-radius: 30px;
    }
    
    #lista-lambo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    #contenido-principal {
        display: flex;
        flex-direction: column;
    }

    .texto-centrado-contenedor {
        height: 100%;
        width: max-content;
    }

    #lambo-info {
        height:max-content ;
    }
    
}

